:block(tabs) {
    padding: 8px;

    &:elem(title) {
        margin-left: 8px;

        font-size: 24px;
        line-height: 32px;
        color: #77432a;
    }

    &:elem(container) {
        position: relative;
    }

    &:elem(content) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        visibility: hidden;
        opacity: 0;

        &:mod(checked) {
            visibility: visible;
            opacity: 1;
        }
    }
}
