:block(tile):mod(main) {
    :block(tile) {
        &:elem(row) {
            display: flex;
            flex-flow: row wrap;

            max-width: 1200px;
            margin: 0 auto;
        }

        &:elem(canvas) {

        }

        &:elem(item) {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            position: relative;

            flex-grow: 1;
            background-color: #fff;

            overflow: hidden;

            &:mod(big) {
            }
        }

        &:elem(image) {
            position: absolute;
            top: 16px;
            left: 16px;

            height: calc(100% - 32px);
        }

        &:elem(title) {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@media screen and (max-width: 40em) {

}
