:block(breadcrumbs) {
    box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 16px;

    font-size: 13px;
    line-height: 15px;

    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &:-webkit-scrollbar {
        width: 0;
    }

    &:elem(list) {
        max-width: 1200px;
        margin: 0 auto;
    }

    &:elem(item) {
        position: relative;
        color: $text_active;
        text-decoration: none;
        white-space: nowrap;

        padding-right: 15px;

        transition: color .25s ease-out;

        &:after {
            position: absolute;
            top: 2px;
            content: '';
            height: 15px;
            width: 15px;

            background-image: url(../../theme.blocks/theme/_dver/arrow-s.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transform: rotate(270deg);
        }

        &:last-child {
            color: $text_light;

            &:after{
                content: none;
            }

            &:hover {
                color: $text_light;
            }
        }

        &:hover {
            color: $text_hover;
            cursor: pointer;
        }
    }

}
