:block(header) {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    position: relative;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto 16px;
    padding: 8px 16px;

    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 10px -5px rgba(0, 0, 0, 0.4);

    &:elem(logo) {
        flex: 0 0;

        transform: translateY(0);
        opacity: 1;
        visibility: visible;

        transition: all 0.1s ease-out;
    }

    &:elem(contacts) {
        flex: 1 1;
        margin-left: 16px;
        text-align: center;

        position: relative;
        z-index: 1;
    }

    &:elem(action) {
        flex: 0 0;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        margin-left: 8px;
    }

    &:elem(search) {
        flex: 0 0;
        margin-right: 8px;
    }

    &:elem(cart) {
        flex: 0 0;
        margin-right: 8px;
    }

    &:elem(toggle) {
        display: none;
    }

    &:elem(nav) {
        flex: 0 0;
        flex-basis: 100%;
        max-width: 100%;

        z-index: 0;
    }
}

@media screen and (max-width: 40em) {
    :block(header) {

        &:elem(logo) {
            position: absolute;

            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
        }

        &:elem(contacts) {
            margin-left: 8px;
            text-align: left;
        }

        &:elem(toggle) {
            display: inline-block;
        }
    }
}
