:block(glasses) {
    &:elem(title) {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        margin: 16px 0;
        color: $text_dark;
    }

    &:elem(list) {
        max-height: 50vh;
        overflow-y: auto;
    }

    &:elem(item) {
        box-sizing: border-box;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 10px;
        text-overflow: ellipsis;
    }
}
