:block(icon):mod(quality) {
    background-image: url(../images/quality.svg);
    background-size: 55%;
    opacity: .7;

    transition: opacity .1s ease-out;

    &:hover{
        opacity: 1;
    }
}
