:block(promo):mod(main) {
    margin-bottom: 16px;
    
    :block(promo) {
        &:elem(slider) {
            margin-right: .3%;
        }

        &:elem(banner) {
            margin-left: .2%;
        }
    }
}

@media screen and (max-width: 40em) {

}
