:block(nav) {
    &:elem(list) {
        display: flex;
        flex-flow: row nowrap;

        align-items: center;
        justify-content: space-between;
    }

    &:elem(item) {
        flex: 0 0;

        padding: 0 8px;

        line-height: 50px;
        color: #568549;
        white-space: nowrap;
        text-decoration: none;

        &:hover{
            opacity: .8;
        }
    }
}

@media screen and (max-width: 40em) {
    :block(nav) {
        &:elem(list) {
            flex-flow: column nowrap;
            align-items: flex-start;
            padding: 0 8px;
        }

        &:elem(item) {
            padding: 0;
        }
    }
}
