:block(cart-action) {
    width: 100%;
    
    &:elem(container){
        box-sizing: border-box;
        padding: 16px;
    }

    &:elem(cost) {
        font-weight: 600;
    }
}

@media (--large) {
    :block(cart-action) {
        float: right;
        width: calc(100% - 16px);
    }

}
