:block(accordion) {
    box-sizing: border-box;
    padding: 8px;

    &:elem(title) {
        width: 100%;

        & :block(button) {
            text-align: left;
            width: 100%;
        }

        & :block(button):mod(size m):block(button):mod(theme dver) {
            :block(button):elem(text) {
                box-sizing: border-box;
                width: 100%;
                margin: 0;
                padding: 0 13px;

                &:after {
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    width: 12px;
                    height: 6px;
                    margin-top: -3px;
                    content: '';
                    cursor: pointer;
                    text-align: center;
                    background-image: url(../../theme.blocks/theme/_dver/arrow-s.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;

                    transform: rotate(0deg);
                    transition: rotate .25s ease-out;
                }
            }

            &:block(button):mod(checked) {
                :block(button):elem(text):after {
                    transform: rotate(180deg);

                    background-image: url(../../theme.blocks/theme/_dver/arrow-s-white.svg);
                }
            }
        }
    }

    &:elem(container) {
        position: relative;
    }

    &:elem(item) {
        margin-bottom: 8px;
    }

    &:elem(content) {
        display: none;

        box-sizing: border-box;

        background-color: #fff;
        padding: 16px;
    }

    &:elem(item):mod(checked) {
        :block(accordion):elem(content) {
            display: block;
            animation: fadeEffectIn .25s;
            animation-timing-function: ease-out;
        }
    }
}

@keyframes fadeEffectIn {
    0%      {
        opacity: 0;
        height: 0;
    }
    50%    {
        height: auto;
    }
    100%    {
        opacity: 1;
    }
}
