:block(serp) {
    &:mod(type numb-list) {
        :block(serp) {
            &:elem(list){
                counter-reset: numb-list;
                margin-left: 32px;
            }

            &:elem(item){
                &:before {
                    counter-increment: numb-list;
                    content: counter(numb-list);
                    
                    position: absolute;
                    left: -16px;

                    font-size: 18px;
                    line-height: 24px;
                    color: $text_light;
                }
                
                position: relative;
            }
        }
    }

    &:elem(title) {
        margin: 16px;

        font-size: 24px;
        line-height: 32px;
        color: #77432a;
    }

    &:elem(form-search){
        margin: 0 16px 48px 16px;
    }

    &:elem(list) {
        margin: 0 16px 48px 16px;
    }

    &:elem(pager) {
        margin: 0 16px 16px 16px;

    }
}
