:block(cart-list) {
   &:elem(header) {
        box-sizing: border-box;
        padding: 0 16px;
        border-bottom: 1px solid rgba(0,0,0,.2); 
    }

    &:elem(title) {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        color: $text_dark;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    &:elem(item) {
        box-sizing: border-box;

        padding: 16px;
        border-bottom: 1px solid rgba(0,0,0,.2); 

        transition: opacity .25s ease-out;

        &:last-child {
            border-bottom: 0;
        }

        &:mod(removing) {
            opacity: .3;
        }
    }

    &:elem(empty) {
        padding: 16px;
    }

    &:elem(footer) {
        box-sizing: border-box;
        padding: 0 16px;
        margin: 16px 0;
    }
}
