:block(button):mod(pager prev) {
    :block(button):elem(text) {
        padding-left: 13px;
    }

    :block(button):elem(text):before {
        position: absolute;
        top: 50%;
        left: 0px;
        width: 12px;
        height: 6px;
        margin-top: -3px;
        content: '';
        cursor: pointer;
        text-align: center;
        background-image: url(../../../theme.blocks/theme/_dver/arrow-s.svg);
        background-repeat: no-repeat;
        background-position: 50% 50%;

        transform: rotate(90deg);
    }
}
