:block(snippet) {

    margin-bottom: 32px;

    &:elem(title) {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        margin-top: 0;
        margin-bottom: 0;
    }

    &:elem(link) {
        color: $text_active;

        transition: color 0.3s ease-out;

        &:hover {
            color: $text_hover;
        }
    }

}
