:block(product-buy) {
    display: inline-block;

    &:elem(modal) {
        z-index: 1;
    }

    &:elem(link) {
        padding-top: 16px;
    }

    &:elem(info) {
        padding: 16px;
    }
}
