:block(icon):mod(cart white) {
    background-image: url(../images/cart-white.svg);
    background-size: 55%;
    opacity: .7;

    transition: opacity .1s ease-out;

    &:hover{
        opacity: 1;
    }
}